header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    padding: 1.5px;
}

h1 {
    font-family: 'Lora', serif;
}

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

nav {
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
    background-color:  #69665C78;
    color:brown;
    text-align: center;
}

footer {
    background-color:  #69665C78;
    color: brown;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

header img {
    border: 6px solid brown;
    width: 150px;
    height: auto;
    top: 35px;
    right: 82px;
    float: right;
    border-radius: 8px;
    position: relative;
}

#date {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#copyRight {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}