@media only screen and (min-width: 64rem) {
.gallery:hover {box-shadow: 0 0 50px #b96646;}

.pic_grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 315px 315px 315px;
}
}