h1,
footer {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}

img {
    padding: 5px;
   
}

picture img[data-src] {
    filter: blur(5px);
}

picture img {
    filter: blur(0px);
    transition: filter 0.5s;
}


