@media only screen and (min-width: 35em) {
    h1 {
        font-size: 30px;
        margin: 0px;
    }
    
    #slogan {
        font-size: 15px;
    }
    
    #logo {
        width: 135px;
    }
      
    .weather_summary {
    position: absolute;
    bottom: 250px;
    left: 50px;
    }
    
    
    #weather_sum {
    position: absolute;
    top: 80px;
	right: 500px;
    width: 170px;
    background: #E8CDC2;
}
 

    
/******************GALLERY PAGE**********************/
.gallery_grid {
    grid-template-columns: 1fr 1fr;
}

.figcap_gallery {
    display: none;
}
    
    /*****************HOME PAGE*************************/ 
 info_blocks:nth-child(even) img{
    display: block;
    grid-column: 1;
}

info_blocks:nth-child(even) p{
    grid-column: 3;
}

info_blocks:nth-child(even) h2{
    grid-column: 3;
}

info_blocks:nth-child(even) motto{
    grid-column: 3;
}

info_blocks img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    width: 400px;
}

info_blocks p {
    grid-column-start: 1;
    margin: 2px;
}
   
}