@media only screen and (min-width: 64rem) {
    nav button {
        display: none;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid aliceblue;
        padding: 0.6rem 1rem;
     }

    nav ul {
        margin-left: 2%;
    }

    nav ul.hide {
        display: block;
    }

    h1 {
        font-size: 35px;
    }
        
    #slogan {
          font-size: 20px;
    }

    #logo {
        width: 200px;
    }
}