@media only screen and (min-width: 64rem) {
    #logo {
        width: 200px;
    }

    header button {
        display: none;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        padding: 0.6rem 1rem;
     }

    nav ul {
        margin-left: 2%;
        font-size: 42px;
    }

    nav ul.hide {
        display: block;
    }

    h1 {
        font-size: 35px;
        margin: 1px;
    }
        
    #slogan {
          font-size: 20px;
    }

    #weather_summary {
        bottom: 225px;
        left: 70px;
        }
    





/******************GALLERY PAGE**********************/
.gallery_grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery_img:hover {box-shadow: 0 0 50px #333;}

.figcap_gallery {
    display: block;
    margin-left: 10px;
    font-family: "Courier New";
}
    
/*******************HOME PAGE***************************/
info_blocks:nth-child(even) img{
    display: block;
    grid-column: 1;
}

info_blocks:nth-child(even) p{
    grid-column: 3;
}

info_blocks:nth-child(even) h2{
    grid-column: 3;
}

info_blocks:nth-child(even) motto{
    grid-column: 3;
}

info_blocks img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    width: 400px;
}

info_blocks p {
    grid-column-start: 1;
    margin: 2px;
}

}
    
