body {
    max-width: 400px;
    margin: auto;
}

table {
    font-family: Ubuntu, sans-serif;
    text-align: center;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
    background: lightgray;
}

th, td {
    padding: 10px;
}

th {
    font-weight: bold;
    color: black;
    background-color: #7fb9c2;
    font-size: 25px;
}

.dark_blue{
    font-weight: bold;
    color: white;
    background-color: #628ca6;
    font-size: 16px;
}

tbody tr:nth-child(odd){
    background-color: #e7f0ed;
}

tbody tr:nth-child(even){
    color: black;
    background-color: #e7ffed; 
}

tfoot {
    text-emphasis: bold;
    color: black;
    background-color: #7fb9c2;
    font-size:  12px;
}