@media only screen and (min-width: 64rem) {
    nav button {
        display: none;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        padding: 0.6rem 1rem;
     }

    nav ul {
        margin-left: 2%;
        font-size: 42px;
    }

    nav ul.hide {
        display: block;
    }

    #logo {
        width: 200px;
    }
    
    h1 {
        font-size: 35px;
        margin: 1px;
    }
        
    #slogan {
          font-size: 20px;
    }
}