@media only screen and (min-width: 35em) {
    #slogan {
        font-size: 15px;
    }
    
    #logo {
        width: 135px;
    }
    /************************MAIN*******************/
.homePage_grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#verticalimg { 
    display: block;
    grid-row-start: 1;
    grid-row-end: 4;
}

 .scoots_homeImage_vertical {
    margin: auto;
}

#website_intro {
     grid-row-start: 1;
    grid-row-end: 2;
     grid-column-start: 2
}

.rentalSum {
     grid-row-start: 2;
    grid-row-end: 3;
     grid-column-start: 2
}

.weathersummary {
     color: black;
    }

#weather_sum {
   grid-row-start: 3;
    grid-row-end: 4;
     grid-column-start: 2; 
    
 }

    #rental_title {
        position: relative;
    }
    #rentalimgs {
        display: flex;
        opacity: 50%;   
        position: relative;
    }
    #rentalimgs img {
        width: 60%;
        margin:auto;
        
    }
    .googleMap {
    width: 80%;
}
    
.rental_imgs {
    display: block;
      display: flex;
    margin: auto;
    padding-top: 20px;
}
    
    .rental_imgs img {
        width: 200px;
    }
}