/********************BODY*************************/
body {
    font-size: 16px;
    font-family: "Zilla Slab", serif;
}

main {
   /*! max-width: 960px; */
   margin: auto; 
}

h1 {
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color: #112838;
    margin: 0;
}

h2 {
    color: #3983B8;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    font-kerning: 2px;
    margin: auto;
    padding: 20px;
}

h3 {
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    font-kerning: 2px;
    padding: 5px;
}

h4 {
    color: #112838;
    font-family: "zilla slab", serif;
}

h5 {
    color: #112838;
    font-family: "zilla slab", serif;
}

/********************BODY*************************/

/*********************HEADER***********************/
header {
    background-color: #4DB0F7;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/*slogan/header*/
#slogan {
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

#logo {
    width: 125px;
    height: auto;
}

#mainTitle {
    margin-left: 45px;
    margin-right: 2px;
    margin-bottom: 0px;
    padding: 2px;
}

/*end slogan/header*/
/*********************HEADER***********************/


/**********************NAV***********************/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

header button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #112838;
}

nav {
    font-family: "zilla slab", serif;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    background-color:  #4DB0F7;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    background-color: #4DB0F7;
    color: #112838;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

nav a:hover {
    background-color: #255578;
    color: white;
}

nav ul.hide {
    display: none;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #112838;
}


/**********************NAV***********************/

/************************MAIN*******************/

.home_banner {
    width: 100%;
}

#verticalimg {
    display: none;
}
.scoots_homeImage_vertical{
    width: 100%;
}

#website_intro {
    width: 100%;
    margin: auto;
    color: white;
    background: #112838;
    padding-top: 20px;
     padding-bottom: 20px;
}

.rentalButton {
    padding: 5px;
    margin: 10px;
    text-decoration: none !important;
    color: black;
}

.rentalSum {
    margin-bottom: 10px;
    color: white;
    background: #3983B8;
    padding: 20px;
}

.paragraph {
    margin: 10px;
    width: 80%;
}

.weathersummary {
    margin: auto;
    padding: 20px;
    position: relative;
    color: white;
    background: #112838;
}

#weather_sum {
    font-family: "Zilla Slab", serif;
    color: white;
    background: #112838;
    text-align: left;
    position: relative;
    padding: 2%;
}

/*table settings*/
.three_day_forcast {
    width: 90%;
    margin: 10px;
}

.weather_table {
    margin: auto;
    width: 100%;
}

.forcast_and_images {
    background-color: #4DB0F7;
    color: #112838;  
    text-align: center;
    font-family:  "zilla slab", serif;
}

.forcast_and_images img {
    width:50%;    
}

thead.days_of_the_week {
    background-color: #112838;
    color: white;  
    font-family: "zilla slab", serif; 
    text-align: center;
    padding: 10px;
}

th, td {
    padding: 10px;
}
/*end table settings*/

.contact_info {
    margin: auto;
    padding: 20px;
    font-family: "zilla slab", serif;
    text-align: center;
    text-align: left;
    overflow: hidden;
    background-color:  #4DB0F7;
}

#socialMediaLinks img {
    max-width: 20px;
    text-decoration: none;
}

#socialMediaLinks a {
    text-decoration: none;
}
/************************MAIN*******************/

/*********************FOOTER**********************/
footer {
    background-color: #112838;
    color: white;
    font-weight: bold;
    font-family:  "zilla slab", serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 75px;
}
/*********************FOOTER**********************/

/******************Reservations PAGE*******************/
#rentalInfo {
    margin-left: 50px;
}

form fieldset {
    margin: auto;
    border: 5px solid #112838;
    border-radius: 0px;
    max-width: 760px;
}

form legend {
    color: #112838;
    margin-left: 20px;
    padding: 10px;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}

form label.top, form div {
    display: block;
    padding-top: 20px;
    color: #3983B8;
    margin-left: 50px;
    font-size: 18px;
}

form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .755rem;
    color: #3983B8;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    margin-left: 50px;
    padding: .75rem 0;
    color: #3983B8;
}
/***submit button***/
form input.submitBtn {
    border: none;
    background-color: #3983B8;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 360px;
}

.submit_button {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}   

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

#comments_box {
    margin: 10px;
}

.thanks_comfirmation {
    margin: 50px;
    padding: 20px;
    text-align: center;
}
/******************STORM CENTER PAGE*******************/

/*************CONTACT PAGE***************************/
#contactUs {
    margin: auto;
    padding: 10px;
    font-family: "Zilla Slab", serif;
    color: #3983B8;
}

#googlemaps {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.googleMap {
    padding: 4px;
    margin: auto;
    width: 50%;
    height: auto;
}
/*************CONTACT PAGE***************************/